<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="org.zerock.mapper.TodoMapper">
  
	<select id = "list" resultType="org.zerock.domain.TodoVO">
	select * from tbl_todo where tno > 0 order by tno desc limit #{skip}, 10
	</select>
	
	<select id = "total" resultType="int">
		select count(*) from tbl_todo
	</select>
	
	<select id="read" resultType="org.zerock.domain.TodoVO">
	select * from tbl_todo where tno = #{tno}
	</select>
	
	<insert id="create">
	insert into tbl_todo (content) values (#{content})
  	</insert>
  
	<update id="update">
    update tbl_todo set content = #{content} where tno = #{tno}
	</update>
 
	<delete id="delete">
	delete from tbl_todo where tno = #{tno}
	</delete>
	
  </mapper>